<template>
  <ul class="form__Errors" v-if="error">
    <li
      :class="['form__Error', className]"
      v-for="e in Array.isArray(error) ? error : [error]"
      v-text="e"
    />
  </ul>
  <div v-else v-text="error" />
</template>

<script>
  export default {
    props: {
      error: {
        type: [Array, String]
      },
      className: {
        type: String
      },
    },
  }
</script>

<style></style>
