<template>
  <div class="formField radioField" :class="{ isError, isDisabled }">
    <div class="radioField__Wrapper">
      <input
        :id="uniqueID"
        :name="name"
        :value="value"
        :required="isRequired"
        type="radio"
        tabindex="-1"
        v-model="fieldValue"
      />
      <label
        class="radioField__Circle"
        :tabindex="!isDisabled && tabindex === undefined ? 0 : -1"
        @keydown="handleKeyDown"
        :for="uniqueID"
      />
      <div>
        <label :for="uniqueID" class="radioField__Label form__Label" @click="handleLabelClick">
          <slot>{{ label }}</slot>
        </label>
        <FormError :error="mergedErrors" className="radioField__Error" />
      </div>
    </div>
  </div>
</template>

<script setup>
  const emit = defineEmits(['update:modelValue'])
  const props = defineProps({
    ...useFormFieldProps(),
    value: {},
    tabindex: {
      type: [Number, String]
    },
  })

  const { mergedErrors, fieldValue, isDisabled, isRequired, isError, uniqueID } = useFormField(
    props,
    emit
  )

  const handleKeyDown = (e) => {
    if ([0, 13, 32].includes(e.keyCode) && !isDisabled.value) {
      e.preventDefault()
      e.target.parentNode.querySelector('[type="radio"]').click()
    }
  }
</script>
