<template>
  <div
    class="rangeField rangeField--Multiple formField"
    :class="{
      isError,
      isDisabled,
      isInline,
      hasFocus,
      isMounted,
    }"
    @mousemove="handleMouseMove"
    @touchmove="handleMouseMove"
    @mouseup="handleMouseUp"
    @touchend="handleMouseUp"
    @mouseleave="handleMouseUp"
  >
    <FormLabel v-bind="formLabelProps">
      <slot name="tooltip" />
    </FormLabel>
    <div class="rangeField__Wrapper" ref="field">
      <div
        class="rangeField__Circle"
        :class="{ hasFocus: activeIndex === i - 1}"
        ref="circles"
        @mousedown="handleMouseDown(i - 1)"
        @mouseup="handleMouseUp"
        :style="style[i - 1]"
        v-for="i in 2"
      />
    </div>
    <FieldGroup inline v-if="inputs">
      <TextField type="number" :validate="{ type: ['number'], strict: true }" v-model="fieldValue[0]"/>
      <TextField type="number" :validate="{ type: ['number'], strict: true }" v-model="fieldValue[1]"/>
    </FieldGroup>
    <FormError :error="mergedErrors" className="selectField__Error" />
    <span class="form__Info" v-text="info" v-if="info" />
  </div>
</template>

<script>
  export default {
    props: {
      ...useFormFieldProps(),
      min: {
        type: Number
      },
      max: {
        type: Number
      },
      inputs: {
        type: Boolean,
        default: true
      },
      debounce: {
        type: [Number, String],
        default: 500
      }
    },

    setup(props, { emit }) {
      let maxWidth = 0
      let positions = [0, 0]
      let circleWidth = 0
      let min = props.min || props.modelValue[0]
      let max = props.max || props.modelValue[1]
      let circleSize = 0;
      let timeout = 0;
      let debounce = 0;
      const isMounted = ref(false)
      const circles = ref(null)
      const field = ref(null)
      const style = reactive([
        {
          transform: 'none',
        },
        {
          transform: 'none',
        }
      ])
      
      const activeIndex = ref(null)
      const {
        fieldValue,
        formLabelProps,
        isDisabled,
        isError,
        isInline,
        mergedErrors,
        hasFocus,
        setFocus,
      } = useFormField(props, emit)

      onMounted(() => {
        isMounted.value = true
        circleWidth = circles.value[0].clientWidth
        maxWidth = field.value.clientWidth - circleWidth
        positions[1] = maxWidth
        style[1].transform = `translateX(calc(${maxWidth}px))`
        circleSize = Math.ceil((circleWidth/field.value.clientWidth)*(max-min))
      })

      const handleMouseMove = (e) => {
        if (hasFocus.value && e.target.classList.contains('rangeField__Wrapper')) {
          let cp = e.clientX - e.target.getBoundingClientRect().x - circleWidth / 2

          if (activeIndex.value === 0 && cp + circleWidth > positions[1]) cp = positions[1] - circleWidth
          if (activeIndex.value === 1 && cp - circleWidth < positions[0]) cp = positions[0] + circleWidth

          if (cp < 0) cp = 0
          if (cp > maxWidth) cp = maxWidth

          const temp = cp + (activeIndex.value === 1 ? circleWidth : 0)
          const percentage = temp / field.value.clientWidth
          let value = Math.ceil(percentage * (max - min)) + min

          fieldValue.value[activeIndex.value] = value
        }
      }

      const getPercentage = (value) => {
        return (value-min)/(max-min)
      }

      const setPosition = (index, value) => {
        style[index].transform = `translateX(${value}px)`
        positions[index] = value
      }
    
      watch(() => fieldValue.value[0], (value) => {
        clearTimeout(timeout)
        if(value < min) fieldValue.value[0] = min
        timeout = setTimeout(() => {
          let cp = getPercentage(value) * field.value.clientWidth
          if (cp + circleWidth > positions[1]) {
            cp = positions[1] - circleWidth
            fieldValue.value[0] = fieldValue.value[1] - circleSize*2
          }

          setPosition(0, cp)
        }, debounce)
      })

      watch(() => fieldValue.value[1], (value) => {
        clearTimeout(timeout)
        if(value > max) fieldValue.value[1] = max
        timeout = setTimeout(() => {
          let cp = getPercentage(value) * field.value.clientWidth - circleWidth
          if (cp - circleWidth < positions[0]) {
            cp = positions[0] + circleWidth
            fieldValue.value[1] = fieldValue.value[0] + circleSize*2
          }

          setPosition(1, cp)
        }, debounce)
      })

      const handleMouseUp = () => {
        setFocus(false)
        activeIndex.value = null;
        debounce = parseInt(props.debounce);
      }

      const handleMouseDown = (index) => {
        setFocus(true)
        activeIndex.value = index
        debounce = 0;
      }

      return {
        style,
        circles,
        field,
        isMounted,
        hasFocus,
        fieldValue,
        formLabelProps,
        isDisabled,
        isError,
        isInline,
        mergedErrors,
        activeIndex,

        handleMouseMove,
        handleMouseUp,
        handleMouseDown,
      }
    },
  }
</script>
