<template>
  <div
    class="rangeField formField"
    :class="{ isError, isDisabled, isInline, hasFocus }"
    @mousemove="handleMouseMove"
    @touchmove="handleMouseMove"
    @mouseup="handleMouseUp"
    @touchend="handleMouseUp"
    @mouseleave="handleMouseLeave"
  >
    <input type="text" :required="isRequired" :id="uniqueID" v-model="fieldValue" tabindex="-1" />
    <FormLabel v-bind="formLabelProps">
      <slot name="tooltip" />
    </FormLabel>
    <div
      class="rangeField__Wrapper"
      @mousedown.prevent="handleClick"
      :style="{ height: `${dragItemHeight + 20}px` }"
    >
      <div class="rangeField__Scroller" ref="scroller" :style="{ height: `${lineThickness}px` }">
        <template v-if="stepLines">
          <span
            class="rangeField__StepLine"
            v-for="i in stepCount + 1"
            :style="{ left: `${stepSize * (i - 1) + dragItemWidth / 2}px` }"
          />
        </template>
        <span
          class="rangeField__Dragger"
          @mousedown.stop="handleMouseDown"
          @touchstart.stop="handleMouseDown"
          :tabindex="!isDisabled ? 0 : -1"
          @focus="setFocus(true)"
          @blur="setFocus(false)"
          :style="{
            transform: `translate3d(${currentX}px, -50%, 0)`,
            transition: `transform ${hasFocus ? 0 : transitionDuration}ms`,
          }"
        >
          <span class="rangeField__DraggerInline" ref="dragger">
            <slot> </slot>
          </span>
          <span class="rangeField__Value" v-text="fakeValue" />
        </span>
      </div>
    </div>
    <FormError :error="mergedErrors" className="selectField__Error" />
    <span class="selectField__Info form__Info" v-html="info" v-if="info" />
  </div>
</template>

<script>
  export default {
    props: {
      ...useFormFieldProps(),
      min: {
        type: [Number, String],
        default: 0,
      },
      max: {
        type: [Number, String],
        default: 100,
      },
      step: {
        type: [Number, String],
        default: 1,
      },
      lineThickness: {
        type: [Number, String],
        default: 1,
      },
      decimals: {
        type: [Number, String],
        default: 0,
      },
      transitionDuration: {
        type: [Number, String],
        default: 300,
      },
      stepLines: {
        type: Boolean,
        default: false
      },
    },

    setup(props, { emit }) {
      const {
        isError,
        isDisabled,
        isRequired,
        isInline,
        fieldValue,
        mergedErrors,
        uniqueID,
        formLabelProps,
        hasFocus,
        setFocus,
      } = useFormField(props, emit)

      let initialX = 0
      let xOffset = 0
      let width = 1
      let changeValueTimeout = null

      const currentX = ref(0)
      const fakeValue = ref(0)
      const dragger = ref(null)
      const dragItemWidth = ref(0)
      const dragItemHeight = ref(0)

      const scroller = ref(null)

      onMounted(() => {
        nextTick(() => {
          width = scroller.value.scrollWidth
          setSize()
          setCurrentX()
        })

        setTimeout(() => {
          fakeValue.value = parseFloat(props.modelValue).toFixed(props.decimals)
        }, props.transitionDuration)
      })

      const floatValues = computed(() => {
        return {
          min: parseFloat(props.min),
          max: parseFloat(props.max),
          step: parseFloat(props.step),
          decimals: parseFloat(props.decimals),
        }
      })

      const stepCount = computed(() => {
        return Math.floor(rangeOfValues.value / floatValues.value.step)
      })

      const stepSize = computed(() => {
        return (width - dragItemWidth.value) / stepCount.value
      })

      const fullWidth = computed(() => {
        return width - dragItemWidth.value
      })

      const rangeOfValues = computed(() => {
        return floatValues.value.max - floatValues.value.min
      })

      const setSize = async () => {
        if (dragger.value.querySelector('img')) {
          let imagesLoaded = 0
          const images = dragger.value.querySelectorAll('img')
          await new Promise((resolve) => {
            for (const img of images) {
              img.addEventListener('load', () => {
                imagesLoaded++
                if (imagesLoaded === images.length) resolve()
              })
            }
          })
        }

        dragItemWidth.value = dragger.value.clientWidth
        dragItemHeight.value = dragger.value.clientHeight
      }

      const handleMouseDown = (e) => {
        setFocus(true)
        const x = getX(e, 'touchstart')
        initialX = x - xOffset
      }

      const handleMouseUp = (e) => {
        setFocus(false)
        initialX = currentX.value
        setCurrentX()
      }

      const handleMouseMove = (e) => {
        if (hasFocus.value) {
          e.preventDefault()
          const x = getX(e, 'touchmove') - initialX
          currentX.value = xOffset = getBoundedX(x)
          changeValue()
        }
      }

      const handleMouseLeave = () => {
        setFocus(false)
        setCurrentX()
      }

      const handleClick = (e) => {
        const x = getX(e, 'touchstart', 'offsetX') - dragItemWidth.value / 2
        currentX.value = xOffset = getBoundedX(x)
        changeValue()
      }

      const getX = (e, type, property = 'clientX') => {
        return e.type === type ? e.touches[0][property] : e[property]
      }

      const getBoundedX = (x) => {
        if (x > fullWidth.value) x = fullWidth.value
        else if (x <= 0) x = 0
        return x
      }

      const setCurrentX = () => {
        let x = fullWidth.value / rangeOfValues.value
        x = x * (fieldValue.value - floatValues.value.min)

        currentX.value = xOffset = getBoundedX(x)
      }

      const changeValue = () => {
        const value = (xOffset / fullWidth.value) * rangeOfValues.value + floatValues.value.min
        fakeValue.value = (
          Math.floor(value / floatValues.value.step) * floatValues.value.step
        ).toFixed(floatValues.value.decimals)
        fieldValue.value = fakeValue.value
      }

      watch(fieldValue, () => {
        fakeValue.value = props.modelValue
      })

      watch(
        () => props.modelValue,
        () => {
          if (props.modelValue !== fakeValue.value) {
            clearTimeout(changeValueTimeout)
            changeValueTimeout = setTimeout(setCurrentX, 250)
          }
        }
      )

      return {
        isError,
        isDisabled,
        isRequired,
        isInline,
        fieldValue,
        mergedErrors,
        uniqueID,
        formLabelProps,
        hasFocus,

        setFocus,
        handleMouseDown,
        handleMouseUp,
        handleMouseMove,
        handleMouseLeave,
        handleClick,
        getX,
        getBoundedX,
        setCurrentX,
        changeValue,

        floatValues,
        stepCount,
        stepSize,
        fullWidth,
        rangeOfValues,

        currentX,
        fakeValue,
        dragger,
        dragItemWidth,
        dragItemHeight,
        scroller,
      }
    },
  }
</script>
