<template>
  <div :class="['formField', 'selectField', {isOpen}, {'hasValue': fieldValue.toString().length > 0}, {isError}, {'isAutocomplete': autocomplete !== undefined}, {'isDisabled': isDisabled}, {'isInline': inline !== undefined}]">
    <FormLabel v-bind="formLabelProps">
      <slot name="tooltip"/>
    </FormLabel>
    <div class="selectField__Wrapper">
      <div class="selectField__Input" @click="toggleVisibility" v-click-outside="() => close()">
        <div class="selectField__Prepend" v-if="$slots['prepend']">
          <slot name="prepend"/>
        </div>
        <input :id="uniqueID" :required="isRequired" :name="name" v-model="fieldValue" :tabindex="!isDisabled ? 0 : -1" @focus="isOpen = !isDisabled">
        <input v-if="autocomplete !== undefined" ref="inputAutocomplete" class="selectField__InputAutocomplete" v-model="autocompleteText">
        <div :class="['selectField__InputText', {'selectField__InputPlaceholder': fieldValue.length === 0}]" v-text="getSelectedValuesText"/>
        <div class="selectField__Append" v-if="$slots['append']">
          <slot name="append"/>
        </div>
        
      </div>
      <ul :class="['selectField__Options', {'isMultiple': multiple !== undefined}]">
        <li
          v-for="(option, i) in selectOptions"
          :key="option.id"
          :class="{'isSelected': isSelected(option)}"
          @click.stop="changefieldValue(option, $event)"
          @touchstart.stop="changefieldValue(option, $event)"
          @keydown="keydown(option, $event)"
          @blur="optionBlured(i)"
          :tabindex="!isDisabled ? 0 : -1"
        >
        <template v-if="multiple !== undefined && selectOptions.length > 0">
          <CheckboxField
            tabindex="-1"   
            :id="`${uniqueID}-${getOptionProperty(option, 'value')}`"
            :value="getOptionProperty(option, 'value')"
            :label="getOptionProperty(option, 'optionText', 'textKey')"
            v-model="fieldValue"
          />
        </template>
          <label v-else :for="`${uniqueID}-${getOptionProperty(option, 'value')}`" v-text="getOptionProperty(option, 'optionText', 'textKey')"/>
        </li>
        <div v-if="selectOptions.length === 0" class="selectField__EmptyOptions">
          <p v-if="empty" v-html="empty" class="selectField__EmptyOptionsText"/>
          <slot name="empty"/>
        </div>
      </ul>
    </div>
    <FormError :error="errorList || error" className="selectField__Error"/>
    <span class="selectField__Info form__Info" v-html="info" v-if="info"/>
  </div>
</template>

<script>
import vClickOutside from 'click-outside-vue3'
import CheckboxField from './CheckboxField';
// import formField from '@/mixins/formField.js'
export default {
  props: {
    modelValue: {},
    options: {},
    autocomplete: {},
    multiple: {
      default: undefined
    },
    closeOnSelect: {
      default: false
    },
    empty: {},
    valueKey: {},
    textKey: {},
    optionTextKey: {},
    debounce: {
      default: 500
    },
    minSearchLength: {
      default: 2
    },
    placeholder: {},
    minlength: {},
    maxlength: {},
  },

  directives: {
    clickOutside: vClickOutside.directive
  },

  mixins: [formField],

  data() {
    return {
      isOpen: false,
      autocompleteText: '',
      debouceTimeout: null,
      selectedValuesText: [],
      selectOptions: this.options || [],
    };
  },

  components: {
    CheckboxField,
  },

  computed: {
    fieldValue: {
      get() {
        if(this.modelValue === undefined) return '';
        return this.modelValue;
      },
      set(value) {
        this.$emit("update:modelValue", value);
      }
    },

    getSelectedValuesText() {
      if(this.fieldValue.length === 0) return this.placeholder;
      if(this.autocomplete === undefined || this.autocomplete.length === 0){
        if(this.multiple === undefined){
          return this.getSelectedValuesTextHelper(this.fieldValue)
        } else if(this.autocomplete === undefined){
          return this.fieldValue.map(v => this.getSelectedValuesTextHelper(v)).join(", ");
        }
      }
      return this.selectedValuesText.join(', ');
    },
  },

  mounted(){
    if(this.multiple === undefined && typeof(this.fieldValue) !== 'string'){
      console.error(`SelectField - For single select value must be String`)
    } else if(this.multiple !== undefined && typeof(this.fieldValue) !== 'object'){
      console.error(`SelectField - For multiple select value must be Object or Array`)
    }
  },

  methods: {
    getSelectedValuesTextHelper(value){
      try{
        return this.getOptionProperty(this.options.find(o => this.getOptionProperty(o, "value") === value), "text")
      } catch(e){
        return ''
      }
    },

    getOptionProperty(option, property, defaultKey) {
      property = `${property}Key`;
      if (this[property] && option && option[this[property]]) return option[this[property]];
      else if(defaultKey && this[defaultKey] && option && option[this[defaultKey]]) return option[this[defaultKey]]
      return option;
    },

    changefieldValue(option, e) {
      const isMobile = document.documentElement.clientWidth <= 768;
      if(isMobile && e.type === 'touchstart' || !isMobile && e.type === 'click' || e.type === 'keydown'){
        let text = this.getOptionProperty(option, "text");
        if (this.multiple === undefined) {
          this.fieldValue = this.getOptionProperty(option, "value");
          this.close();
        } else if(this.autocomplete !== undefined){
          if(this.selectedValuesText.includes(text)){
            this.selectedValuesText.splice(this.selectedValuesText.findIndex(v => v === text), 1);
          } else this.selectedValuesText.push(text);
        }
        if(this.closeOnSelect) this.close()
      }

      if(isMobile && e.type === 'change'){
        this.selectedValuesText = [...e.target.querySelectorAll('option:checked')].map(o => o.dataset.text)
      }
    },

    keydown(option, e){
      if([0,13,32].includes(e.keyCode)){
        e.preventDefault();
        this.changefieldValue(option, e);
        if(this.multiple !== undefined){
          e.target.click()
          e.target.querySelector('[type="checkbox"]').click()
        }
      }
    },

    isSelected(option) {
      if (this.fieldValue && this.fieldValue.includes) {
        return this.fieldValue.includes(
          this.getOptionProperty(option, "value")
        );
      } else if (this.fieldValue === this.getOptionProperty(option, "value")) return true;
      return this.fieldValue === option;
    },

    toggleVisibility(e){
      if(this.autocomplete === undefined) this.isOpen = !this.isOpen
      else {
        e.stopPropagation()
        this.isOpen = true;
        this.$refs.inputAutocomplete.focus()
      }
    },

    close(){
      if(this.isOpen) this.isOpen = false
    },

    optionBlured(i){
      if(i === this.selectOptions.length - 1) this.close()
    }
  },

  watch: {
    isOpen(){
      if(this.autocomplete !== undefined){
        if(this.isOpen) this.$refs.inputAutocomplete.focus()
        // this.autocompleteText = '';
      }
    },

    options(){
      this.selectOptions = this.options;
    },

    async autocompleteText(){
      if(this.autocomplete === undefined) this.selectOptions = this.options;
      else if(this.autocompleteText.length >= this.minSearchLength){
        clearTimeout(this.debouceTimeout);
        this.debouceTimeout = setTimeout(async () => {
          if(typeof(this.autocomplete) === 'function'){
            try{
              let response = await this.autocomplete(this.autocompleteText);
              this.selectOptions = response;
            } catch(e){
              console.dir(e)
            }
          } else {
            this.selectOptions = this.options.filter(o => this.getOptionProperty(o, 'optionText', 'textKey').toLowerCase().includes(this.autocompleteText.toLowerCase()))
          }
          this.debouceTimeout = null;
          this.$emit('autocomplete-change', this.autocompleteText);
        }, this.debounce);
      } 
    }
  }
};
</script>