.checkboxField{
  input{
    position: absolute;
    opacity: 0;
    pointer-events: none;
    &:checked + label{
      &:before{
        opacity: 1;
      }
  
      &:focus{
        &:before{
          opacity: 0.5;
        }
      }
    }
  }

  &.isDisabled{
    opacity: 0.5;
  }

  &.isError{
    .checkboxField__Box{
      border-color: $error;
      &:before{
        background-color: $error
      }
    }
  }

  &.isDark{
    .checkboxField__Box{
      background-color: #000;
      &:before{
        background-color: #fff;
      }
    }
  }
}

.checkboxField__Box{
  position: relative;
  width: 20rem;
  height: 20rem;
  min-width: 20rem;
  min-height: 20rem;
  cursor: pointer;
  outline: 0;
  border: 1px solid $border;
  &:before{
    position: absolute;
    content: "";
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    opacity: 0;
    will-change: opacity;
    background-color: #000;
    transition: opacity 200ms, background-color 200ms;
  }

  &:focus{
    &:before{
      opacity: 0.25;
    }
  }
}

.checkboxField__Wrapper{
  display: flex;
  align-items: flex-start;
}

.checkboxField__Label{
  cursor: pointer;
}

.checkboxField__Error,
.checkboxField__Label{
  padding-left: 10rem;
}

.checkboxField--Toggle{
  .checkboxField__Box{
    opacity: 1;
    width: 40rem;
    border-radius: 20rem;
    &:before{
      top: 50%;
      left: 2px;
      right: auto;
      bottom: 2px;
      width: 14rem;
      height: 14rem;
      opacity: 1;
      border-radius: 50%;
      transform: translateY(-50%);
      transition: transform 200ms, opacity 200ms;
    }
  }

  input:checked + label{
    &:before{
      transform: translate(20rem, -50%);
    }
  }
}