$border: #000;
$error: #f00;
$gap: 20px;
$info: #aaa;
$scroll: #000;
$border-radius: 10rem;

.form__Errors{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.form__Error {
  font-size: 12rem;
  color: $error;
  display: block;
  white-space: nowrap;
  & + .form__Error{
    margin-top: 10rem;
  }
}

.form__Info {
  display: block;
  font-size: 12rem;
  color: $info;
}

.form__Label {
  position: relative;
  z-index: 1000;
  display: flex;
  font-size: 16rem;
  line-height: 20rem;
  align-items: flex-start;
  justify-content: space-between;
  &:empty{
    display: none;
  }
}

.formField{
  &.isInline{
    .form__Label{
      white-space: nowrap;
    }
  }

  &.isError{
    .form__Label{
      color: $error;
    }
  }

  &.isDisabled{
    pointer-events: none;
  }

  &:not(.isInline){
    .form__Label{
      margin-bottom: 5rem;
    }

    .form__Info, .form__Error{
      margin-top: 5rem;
    }
  }

  .formFieldTooltip{
    margin: 2rem 0 0 5rem;
  }
}

.formField,
.field__Group {
  & + .formField,
  &.field__Group {
    margin-top: $gap;
  }
}

.field__Group {
  & + .field__Group {
    margin-top: $gap;
  }
}

.form__Row{
  display: flex;
  gap: $gap;
  .formField,
  .field__Group {
    & + .formField,
    &.field__Group {
      margin-top: 0;
    }
  }
}