.fileField{
  @extend .textField;
  &.isDisabled{
    .fileField__Text{
      color: $info;
    }

    .fileField__Label{
      background-color: $scroll;
    }

    .formField__File{
      color: $info;
      button{
        background-color: $info;
      }
    }
  }

  &.isError{
    .fileField__Text{
      color: $error;
    }

    .fileField__Label{
      background-color: $error;
    }
  }

  &.isInline{
    display: block !important;
    .formField__Files{
      min-width: 100%;
    }

    .fileField__InputWrapper{
      display: flex;
      align-items: center;
    }
  }
}

.fileField__Wrapper{
  @extend .textField__Wrapper;
  padding-left: 10rem;
  align-items: stretch;
  overflow: hidden;
  justify-content: space-between;
  input{
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
}

.fileField__Text{
  font-size: 16rem;
  line-height: 1.3;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.fileField__Label{
  position: relative;
  width: 100rem;
  min-width: 100rem;
  padding: 20rem 10rem;
  margin-left: 10rem;
  background-color: $border;
  color: #fff;
  text-align: center;
  font-size: 14rem;
  cursor: pointer;
  align-self: stretch;
  transition: background-color 200ms;
  backface-visibility: hidden;
  span{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
  }

  &:hover{
    background-color: #333;
  }
}

.fileField__Prepend{
  padding-right: 10rem;
}

.fileField__PrependText{
  display: flex;
  align-items: center;
  width: 100%;
  max-width: calc(100% - 110rem);
}

.formField__Files{
  margin-top: 10rem;
}

.formField__File{
  display: flex;
  justify-content: space-between;
  align-items: center;
  & + .formField__File{
    margin-top: 10rem;
  }

  button{
    position: relative;
    border: 0;
    padding: 0;
    outline: 0;
    background-color: $border;
    border-radius: 50%;
    width: 20rem;
    margin-left: 10rem;
    height: 20rem;
    min-width: 20rem;
    min-height: 20rem;
    transition: background-color 200ms;
    backface-visibility: hidden;
    cursor: pointer;
    color: #fff;
    &:hover{
      background-color: #333;
    }

    span{
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 0;
      display: block;
      width: 8rem;
      height: 8rem;
      transform: translate(-50%, -50%);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg fill='%23FFF' fill-rule='evenodd'%3E%3Cpath d='M.929 13.657L13.657.929l1.414 1.414L2.343 15.071z'/%3E%3Cpath d='M15.071 13.657L2.343.929.93 2.343l12.728 12.728z'/%3E%3C/g%3E%3C/svg%3E%0A");
      background-position: center center;
      background-size: 8rem 8rem;
    }
  }
}

.formField__FileName{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12rem;
}