.field__Group{
  &.isError{
    .formField{
      .textField__Wrapper,
      .selectField__Input{
        border-color: $error;
        &:after{
          border-color: $error transparent transparent transparent;
        }
      }

      &.radioField, &.checkboxField{
        label{
          border-color: $error;
          &:before{
            background-color: $error
          }
        }
      }

      .form__Label{
        color: $error
      }
    }
  }

  &.isInline{
    .formField{
      & + .formField{
        margin-top: 0;
      }
    }
  }
}

.field__GroupInfo,
.field__GroupError{
  display: block;
  margin-top: 5rem;
}

.field__GroupLabel{
  margin-bottom: 5rem;
}