.radioField{
  input{
    position: absolute;
    opacity: 0;
    pointer-events: none;
    &:checked{
      & + label{
        &:before{
          opacity: 1;
        }
  
        &:focus{
          &:before{
            opacity: 0.5;
          }
        }
      }
    }
  }

  &.isDisabled{
    opacity: 0.5;
  }

  &.isError{
    .radioField__Circle{
      border-color: $error;
      &:before{
        background-color: $error
      }
    }
  }
}

.radioField__Circle{
  position: relative;
  width: 20rem;
  height: 20rem;
  min-width: 20rem;
  min-height: 20rem;
  cursor: pointer;
  outline: 0;
  border-radius: 50%;
  border: 1px solid $border;
  &:before{
    position: absolute;
    content: "";
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    opacity: 0;
    border-radius: 50%;
    will-change: opacity;
    background-color: $border;
    transition: opacity 200ms, background-color 200ms;
  }

  &:focus{
    &:before{
      opacity: 0.25;
    }
  }
}

.radioField__Wrapper{
  display: flex;
  align-items: flex-start;
}

.radioField__Label{
  cursor: pointer;
}

.radioField__Error,
.radioField__Label{
  padding-left: 10rem;
}