.rangeField{
  *{
    user-select: none;
  }

  input:not([type="number"]){
    position: absolute;
    height: 0;
    opacity: 0;
    z-index: -1;
    backface-visibility: hidden;
  }

  .form__Label{
    user-select: none;
    transform: translateZ(0);
  }

  .field__Group {
    margin-top: 0;
  }

  &.isError{
    .rangeField__DraggerInline{
      background-color: $error;
    }

    .rangeField__Scroller{
      background-color: $error;
    }

    .rangeField__Value{
      color: $error
    }
  }

  &.isDisabled{
    .rangeField__DraggerInline{
      background-color: $info;
    }

    .rangeField__Scroller{
      background-color: $info;
    }

    .rangeField__Value{
      color: $info
    }
  }

  &.hasFocus:not(.isDisabled){
    .rangeField__DraggerInline{
      background-color: #000;
    }

    .rangeField__Circle{
      pointer-events: none;
    }
  }

  &.hasFocus{
    cursor: grabbing;
    *{
      cursor: grabbing;
    }
  }
}

.rangeField__Dragger{
  position: absolute;
  top: 50%;
  left: 0;
  cursor: grab;
  transform: translateY(-50%);
  > *{
    pointer-events: none
  }

  &:focus{
    outline: 0;
  }

  img{
    pointer-events: none;
  }
}

.rangeField__DraggerInline,
.rangeField__Circle{
  display: block;
  min-width: 20rem;
  min-height: 20rem;
  border-radius: 50%;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 200ms;
}

.rangeField__DraggerInline{
  pointer-events: none;
  backface-visibility: hidden;
}

.rangeField__Wrapper{
  position: relative;
  margin-top: -10rem;
  cursor: pointer;
}

.rangeField__Scroller{
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%) translateZ(0);
  background-color: #000;
}

.rangeField__Value{
  position: absolute;
  left: 50%;
  bottom: -2rem;
  transform: translate3d(-50%, 100%, 0);
  text-align: center;
  font-size: 12rem;
  font-weight: bold;
  user-select: none;
}

.rangeField__StepLine{
  position: absolute;
  top: 50%;
  width: 1px;
  height: 10rem;
  pointer-events: none;
  transform: translate3d(-50%, -50%, 0);
  background-color: #000;
}

.rangeField--Multiple{
  &.hasFocus{
    .rangeField__Wrapper{
      cursor: grabbing;
    }
  }

  &.isMounted{
    .rangeField__Wrapper{
      justify-content: flex-start;
    }
  }

  .rangeField__Wrapper{
    position: relative;
    display: flex;
    padding: 20rem 0;
    margin-top: 0;
    cursor: default;
    justify-content: space-between;
    &:before{
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      right: 0;
      min-height: 2px;
      pointer-events: none;
      background-color: #000;
      transform: translateY(-50%);
    }
  }
}

.rangeField__Circle{
  position: relative;
  z-index: 2;
  cursor: grab;
  &.hasFocus{
    background-color: #000;
  }

  & + .rangeField__Circle{
    margin-left: -20rem;
  }
}