.selectField{
  position: relative;
  &.isOpen{
    z-index: 10000;
    .selectField__Options{
      transition: opacity 200ms, visibility 200ms;
      opacity: 1;
      visibility: visible;
    }
    
    .selectField__Input{
      &:after{
        transform: translateY(-50%) rotate(180deg);
      }
    }

    .selectField__InputAutocomplete{
      opacity: 1;
    }
  }

  &.isError{
    .selectField__Input{
      border-color: $error;
      &:after{
        border-color: $error transparent transparent transparent;
      }
    }
  }

  &.isDisabled{
    .selectField__Wrapper,
    .selectField__Input{
      background-color: #eee;
      border-color: #aaa;
    }
  }

  &.isInline{
    @media screen and (min-width: 769px) {
      display: flex;
      align-items: center;
      .selectField__Wrapper{
        margin: 0 0 0 10rem;
        & + *{
          margin-left: 10rem;
        }
      }
    }
  }

  &.isAutocomplete{
    .selectField__InputText{
      pointer-events: none
    }
  }

  &:not(.isAutocomplete){
    .selectField__Options{
      @media screen and (max-width: 768px){
        display: none
      }
    }
  }
}

.selectField__Wrapper{
  position: relative;
  width: 100%;
}

.selectField__Input{
  position: relative;
  padding: 10rem;
  z-index: 2;
  display: flex;
  overflow: hidden;
  min-height: 43rem;
  align-items: center;
  border: 1px solid $border;
  background-color: #fff;
  border-radius: $border-radius;
  input:not(.selectField__InputAutocomplete){
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  &:after{
    position: absolute;
    content: "";
    top: 50%;
    right: 10rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6rem 5rem 0 5rem;
    transition: transform 200ms;
    border-color: #000 transparent transparent transparent;
    transform: translateY(-50%);
  }
}

.selectField__InputAutocomplete{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0;
  outline: 0;
  opacity: 0;
  padding: 10rem;
  pointer-events: none;
  @extend .selectField__InputText;
}

.selectField__InputText{
  width: 100%;
  font-size: 16rem;
  line-height: 1.3;
  padding-right: 25rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.selectField__InputPlaceholder{
  color: $info;
}

.selectField__Mobile{
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  width: 100%;
  @media screen and (min-width: 769px){
    display: none
  }
}

.selectField__EmptyOptions{
  padding: 0 10rem;
}

.selectField__EmptyOptionsText{
  padding: 10rem 0;
  font-size: 12rem;
  margin: 0;
}

.selectField__Options{
  position: absolute;
  top: calc(100% - #{$border-radius});
  left: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  visibility: hidden;
  max-height: 300rem;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  border: 1px solid $border;
  border-top: 0;
  padding-top: $border-radius;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  &::-webkit-scrollbar {
    width: 4rem;
    background: #ddd;
  }
  
  &::-webkit-scrollbar-corner, ::-webkit-scrollbar-track {
    background: #ddd;
  }
  
  &::-webkit-scrollbar-thumb {
    background: $scroll;
  }

  li{
    position: relative;
    outline: 0;
    padding: 10rem;
    cursor: pointer;
    &:focus, &:hover{
      background-color: #eee;
    }

    &.isSelected{
      background-color: #ddd;
    }
  }

  .checkboxField{
    width: 100%;
  }

  .checkboxField__Wrapper{
    label{
      width: 14rem;
      min-width: 14rem;
      height: 14rem;
      min-height: 14rem;
      &:before{
        top: 2rem;
        left: 2rem;
        right: 2rem;
        bottom: 2rem;
      }
    }
  }

  .checkboxField__Label{
    position: static;
    font-size: 14rem;
    line-height: 1;
    &:before{
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  &.isMultiple{
    li{
      display: flex;
      align-items: center;
    }
  }
}

.selectField__Prepend{
  padding-right: 10rem;
}

.selectField__Append{
  padding-right: 20rem;
}

.selectField__Prepend, .selectField__Append{
  white-space: nowrap;
  img{
    display: block;
    max-width: 20rem;
  }
}