.textField__Wrapper{
  position: relative;
  display: flex;
  width: 100%;
  min-height: 43rem;
  align-items: center;
  background-color: #fff;
  border: 1px solid $border;
  border-radius: $border-radius;
  input{
    border: 0;
    outline: 0;
    width: 100%;
    padding: 10rem;
    font-size: 16rem;
    border-radius: $border-radius;
  }
}

.textField{
  position: relative;
  &.isDisabled{
    .textField__Wrapper{
      border-color: #aaa;
      background-color: #eee;
    }
    
    input{
      background-color: #eee;
    }
  }

  &.isError{
    .textField__Wrapper{
      border-color: $error;
    }
  }

  &.isInline{
    @media screen and (min-width: 769px) {
      display: flex;
      align-items: center;
      .textField__Wrapper{
        margin: 0 0 0 10rem;
        & + *{
          margin-left: 10rem;
        }
      }
    }
  }
}

.textField__Prepend{
  padding-left: 10rem;
  white-space: nowrap;
}

.textField__Append{
  padding-right: 10rem;
  white-space: nowrap;
}