.textareaField__Wrapper{
  position: relative;
  background-color: #fff;
  border: 1px solid $border;
  width: 100%;
  overflow: hidden;
  border-radius: $border-radius;
  textarea{
    border: 0;
    outline: 0;
    width: 100%;
    display: block;
    font-size: 16rem;
    resize: none;
    padding: 10rem;
    min-height: 150rem;
    border-radius: $border-radius;
    &::-webkit-scrollbar {
      width: 4rem;
      background: #ddd;
    }
    
    &::-webkit-scrollbar-corner, ::-webkit-scrollbar-track {
      background: #ddd;
    }
    
    &::-webkit-scrollbar-thumb {
      background: $scroll;
    }

    &:disabled{
      background-color: #eee;
    }
  }
}

.textareaField{
  position: relative;
  &.isDisabled{
    .textareaField__Wrapper{
      opacity: 0.5;
    }
    input{
      background-color: #eee;
    }
  }

  &.isError{
    .textareaField__Wrapper{
      border-color: $error;
    }
  }

  &.isInline{
    @media screen and (min-width: 769px) {
      display: flex;
      align-items: flex-start;
      .textareaField__Wrapper{
        margin: 0 10rem;
      }
    }
  }
}