.formField__Tooltip{
  position: relative;
  z-index: 1000;
  width: 16rem;
  height: 16rem;
  &.isOpen .formField__TooltipIcon{
    & + .formField__TooltipText, &:before{
      transition: opacity 200ms, visibility 200ms;
      opacity: 1;
      visibility: visible;
    }
  }

  @media screen and (min-width: 769px){
    &.isArrowOnBottom{
      .formField__TooltipIcon{
        &:before{
          top: auto;
          bottom: -8px;
          border-width: 0 8px 8px 8px;
          border-color: transparent transparent $info transparent;
        }
      }
    }
  }

  &.isClickOnly{
    cursor: pointer;
  }
}

.formField__TooltipIcon{
  position: relative;
  display: block;
  width: 16rem;
  height: 16rem;
  line-height: 16rem;
  border-radius: 50%;
  background-color: $info;
  text-align: center;
  color: #fff;
  font-size: 10rem;
  z-index: 100;
  &:before{
    position: absolute;
    content: "";
    top: -8px;
    left: 50%;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    border-style: solid;
    border-width: 8rem 8rem 0 8rem;
    border-color: $info transparent transparent transparent;
    transform: translateX(-50%);
    @media screen and (min-width: 769px){
      transition: opacity 200ms, visibility 200ms;
    }
  }
}

.formField__TooltipText{
  position: absolute;
  right: 8rem;
  bottom: 100%;
  width: 250rem;
  background-color: $info;
  color: #fff;
  opacity: 0;
  padding: 10rem;
  font-size: 14rem;
  visibility: hidden;
  font-weight: normal;
  will-change: opacity;
  @media screen and (min-width: 769px){
    transition: opacity 200ms, visibility 200ms;
  }
  &:before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: -24rem;
  }


  @media screen and (max-width: 768px){
    position: fixed;
    left: 5rem !important;
    right: 5rem !important;
    bottom: auto !important;
    width: auto;
    transform: translateY(-100%) translateY(-8rem)
  }
}